<Sidebar></Sidebar>
<Navbar></Navbar>
<Header></Header>
<div class="homepage-container">
  <div class="upcoming-events">
    <div class="line-row extra-space-3">
      <h3>
        <a class="title pull-left" href="#UpComingEvents"><h3>UpComing Events</h3></a>
        <div class="see-all pull-right"><button>View All</button></div>
      </h3>
    </div>
    <div class="line-row extra-space-1">
      <Events></Events>
    </div>
  </div>
  <div class="memberships">
    <div class="line-row extra-space-3">
      <h3>
        <a class="title pull-left" href="#Memberships"><h3>Memberships</h3></a>
        <div class="see-all pull-right"><button>View All</button></div>
      </h3>
    </div>
    <div class="line-row extra-space-1">
      <Memberships></Memberships>
    </div>
  </div>
  <div class="deals">
    <div class="line-row extra-space-3">
      <h3>
        <a class="title pull-left" href="#Deals"><h3>Seasonal Tickets</h3></a>
        <div class="see-all pull-right"><button>View All</button></div>
      </h3>
    </div>
    <div class="line-row extra-space-1">
      <Deals></Deals>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">&copy; 2017 All Right reserved. Saudi Postal Corporation </div>
</footer>