.memberships-container {
  display: block;
  position: relative;
  padding: 0;
  top: 110px;
  left: 150px;
}

.memberships-container h1 {
  color: #0B090E;
}

.bot-quick-response {

}

.bot-quick-response .generic-sub-continer {
  display: inline-block;
}

.bot-quick-response .generic-sub-continer .quick-response-container {
  display: inline-block;
  margin: 0 6px 0 0;
  position: relative;
}

.bot-quick-response .generic-sub-continer .quick-response-container span.btn {
  padding-top: 0;
  padding-bottom: 0;
  height: 35px;
  line-height: 35px;
  border-radius: 18px;
  position: relative;
  -webkit-transition: none;
  transition: none;
  width: 130px;
  color: rgb(146, 144, 147)
}

.btn-outline-primary {
  border-color: rgb(146, 144, 147);
}

span.btn.btn-outline-primary.floating-left .active {
  background-color: rgba(235, 48, 49, 1);
  border-color: rgba(235, 48, 49, 1);
  color: white;
}