.bot-quick-response {
  display: block;
  position: relative;
  padding: 0;
  top: 120px;
  left: 170px;
}

.bot-quick-response .generic-sub-continer {
  display: inline-block;
}

.bot-quick-response .generic-sub-continer .quick-response-container {
  display: inline-block;
  margin: 0 6px 0 0;
  position: relative;
}

.bot-quick-response .generic-sub-continer .quick-response-container span.btn {
  padding-top: 0;
  padding-bottom: 0;
  height: 35px;
  line-height: 35px;
  border-radius: 18px;
  position: relative;
  -webkit-transition: none;
  transition: none;
}

.btn-outline-primary {
  border-color: rgba(235, 48, 49, 1);
} 